<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.guet.dao.ClerkMapper">

    <select id="findClerk" parameterType="String" resultType="cn.guet.bean.Clerk">
        SELECT * FROM clerk WHERE id = #{id}
    </select>

    <insert id="insertClerk" parameterType="cn.guet.bean.Clerk">
        INSERT INTO clerk (id,name,password,sex,question) VALUES(#{id},#{name},#{password},#{sex},#{question})
    </insert>

</mapper>